@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;800&family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #191919;
    color: #fff;
}

/*************** Log in Page styling *****************/
.logo{
    font-family: 'Exo', sans-serif;
    margin: auto;
    margin-top: 100px;
    width: 50%;
    text-align: center;
    padding: 10px;
    letter-spacing: 0.5rem;
}
.logo h1{
    color: #AB3428;
}
.logo p{
    color: #2d728f;
}
.container{
    margin: auto;
    width: 95%;
    padding: 20px;
}
#instruction{
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
}
label{
    font-size: 14px;
}
input[type=text], input[type=password] {
    width: 95%;
    border: 1px solid #555555;
    color: #000000;
    background-color: #00000009;
    border-radius: 5px;
    padding: 14px;
    margin: 14px 0px;
    margin-top: 6px;
}
.form-submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit{
    text-decoration: none;
    border: 1px solid #3b8ea5;
    background: #3b8ea5;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 0.15em;
    padding: 12px 30px;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 800;
    cursor: pointer
}
#instruction-bottom{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}
/*************** END Log in Page styling *****************/


/* Styling image carousel */
.left-logo{
    font-family: 'Exo bold', sans-serif ;
    margin: auto;
    margin-top: 10px;
    text-align: right;
    padding: 10px;
    letter-spacing: 0.5rem;
}
.left-logo h1{
    color: #AB3428;
    font-size: 12px;
    font-weight: 800;
}
.left-logo p{
    color: #2d728f;
    font-size: 10px;

}
.avatar {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* border: 2px solid #AB3428; */
    background: #191919;
    /* padding: 3px; */
    margin: 10px;
}
.row{
    margin-top: 20px;
}
.row h2{
    margin-left: 20px;
    font-size: 11px;
    letter-spacing: 0.09em;
    opacity: 0.6;
}
.row-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
}
.row-images{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px;
}
.row-image:hover{
    transform: scale(1.18);
}
.row-images::-webkit-scrollbar{
    display: none;
}