@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Exo:wght@100;200;300;400;500;800&family=Kaushan+Script&family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000000;
}

.topnav {
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: #fff;
  }

  
  .topnav a {
    float: left;
    display: block;
    color: #0F52BA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  .topnav a.active {
    /* background-color: #04AA6D; */
    color: #0F52BA;
    font-size: 25px;
  }
  .topnav a:hover {
    background-color: #0F52BA;
    color: #fff;
    
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      font-size: 25px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  /**********************************************************/
 /*********** Bottom Nav ****************/

 .bottom-navigation {
    overflow: hidden;
    background: #fff;
    border-top: 0.5px solid #a0a0a0;
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content:  space-between;
}
  
.bottom-navigation a {
    color: #a0a0a0;
    text-decoration: none;
    font-size: 17px;
    margin: auto;

}
  
.bottom-navigation a:hover {
    color: #AB3428;
}
  
.bottom-navigation a.active {
    color: #2d728f;
}
/*********************** END *******************************************/
/*************** Log in Page styling *****************/
/* .logo{
    font-family: 'Caveat', cursive;
    margin-top: 20px;
    left: 0px;
    width: 50%;
    text-align: left;
    padding: 10px;
    letter-spacing: 0rem;
}
.logo h1{
    color: #AB3428;
} */
.container{
    margin: auto;
    width: 95%;
    padding: 30px;
}
.instruction-container{
    margin-top: 30px;
}
.instruction-container h2{
    text-align: center;
}
.instruction-container p{
    text-align: center;
    padding: 5px;
    font-size: 11px;
}
.login-container{
    /* background-color: #000000; */
    height: 350px;
    margin-top: 50px;
}
label{
    font-size: 12px;
}


input[type=text], input[type=password] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #AB3428;
    color: #000000;
    border-radius: 5px;
    padding: 14px;
    margin: 14px 0px;
    margin-top: 6px;
}
.link{
    text-decoration: none;
    border: 1px solid #AB3428;
    background: none;
    border-radius: 5px;
    color: #AB3428;
    margin-top: 30px;
    letter-spacing: 0.15em;
    padding: 12px 40px;
    font-size: 12px;
    font-weight: 800;
    cursor: pointer;
}
.link:hover{
    background: #AB3428;
    border: 1px solid #AB3428;
    color: #fff;
} 
.form-submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-nav{
    margin-top: -100px;

}
.signup-inst {
    text-align: center;
    margin-top: 100px;
    font-size: 12px;
}
.instruction-bottom{
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
}
.instruction-bottom a{
    text-decoration: none;
    font-weight: 800;
    color: #2d728f;
}

/*********************** END *******************************************/
/*************** BEGIN Index.html*****************/

.main-container{
    overflow: hidden; /*Hide scrollbars */
    margin-bottom: 60px;
}

/* Styling image carousel */
.left-logo{
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #0F52BA;
}



.row{
    /* margin-top: 10px; */
    height: 115px;
}
.row p{
    margin-left: 15px;
    font-size: 10px;
    letter-spacing: 0.09em;
    opacity: 0.4;
    font-family: 'Exo bold', sans-serif ;
    
}
.row-image{
    width: 75px;
    height: 75px;
    border-radius:50%;
    object-fit: cover;
    margin-right: 10px;
    transition: transform 450ms;
    padding: 2px;
    /* rounded-corners-gradient borders */
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #3b8ea5,#f5ee9e);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.row-images{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-left: 15px;
    padding-top: 10px;
}

.row-image:hover{
    transform: scale(1.18);
}
.row-images::-webkit-scrollbar{
    display: none;
}
/*********************** END *******************************************/
/* Styling mainfeed images */
.first-card{
    margin-left: 15px;
    margin-right: 15px;
}
.parent-grid{
    display: grid;
    grid-template-columns: 1fr 9fr;
}
.text-box{
    margin: 20px;
    margin-left: 5px;
}
.avatar-text{
    color: #000000;
    font-size: 15px;
    font-weight: 900;
}
.avatar-text span{
    color: #a0a0a0;
    font-size: 14px;
}
.caption{
    font-size: 14px;
    padding-left: 4px;

}
.new-post{
    /* margin-top: -10px; */
    margin-left: 25px;
}
.pin-count{
    color: #000000;
    font-size: 12px;
    padding: 3px;
}

.avatar-box{
    margin-top: 10px;
}
.avatar{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.username{
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: black;

}

.feed{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}
.card-img{
    width: 100%;
    object-fit: cover;
    max-height: 500px;
}
.avatar-icons i{
    color: #AB3428;
    font-size: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 5px;
}
/*********************** END *******************************************/
/************************Styling viewprofile ***************/
.bio-box{
    display: flex;
    justify-content:  space-between;
    margin-top: 15px;
    padding: 0px;
}
.bio-img-box{
    margin: auto;
    text-align: center;
}
#uname{
    margin-top: -5px;
    font-size: 14px;
    /* padding: 5px; */
}

.caption-box{
    margin-bottom: 100px;
}
#caption{
    font-size: 12px;
}
.box {
    /* border-top: 1px solid #555555; */
    color: black;
    width: 100%;
    height: 100px;
    transition: transform 450ms;
}
.board{
    /* max-width: 1200px; */
    margin: 0 auto;
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(3,1fr);
}
.box-img{
    width: 100%;
    object-fit: cover;
    max-height: 100px;
}

/* Buttons**************************** */
.button-container{
    margin-top: 20px;
    width: 70%;
    margin-bottom: 0px;
}
.main-buttons{
    margin: 0 auto;
    text-align: center;
}
.main-buttons input[type=submit]{
    text-decoration: none;
    border: 1px solid #3b8ea58b;
    background: #3b8ea58b;
    border-radius: 2px;
    color: #fff;
    letter-spacing: 0.15em;
    padding: 6px 25px;
    font-size: 10px;
    cursor: pointer    
} 

/*********************** END *******************************************/
/************************Styling workout list *************/
.workout-box{
    max-width: 400px;
    margin: 30px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
#heading {
    /* background-color: #A683E3; */
    text-align: center;
}
.workouts {
    min-height: 70px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #F1F1F1;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.workouts p{
    margin: 0;
    font-size: 14px;
    padding: 10px;
}
.workout-title i{
    color: #a0a0a0;
    padding: 12px;
    font-size: 18px;
}
#a-pin{
    color: #AB3428;
}





/* Responsive design for larger screen sizes -> TABLET */

@media screen and (min-width: 600px) {
   
    .feed{
        grid-template-columns: repeat(2,1fr);
    }
    .board{
        grid-template-columns: repeat(4,1fr);
    }
    .w3-btn{
            text-decoration: none;
            border: 1px solid #3b8ea5;
            background: #3b8ea5;
            border-radius: 5px;
            color: #fff;
            margin-left: 13px;
            letter-spacing: 0.15em;
            padding: 6px 25px;
            font-size: 12px;
            margin-top: 10px;
            cursor: pointer    
  }
}

/* Responsive design for screens larger than 900 pixels -> LAPTOP */
@media screen and (min-width:900px){
    .feed{
        grid-template-columns: repeat(4, 1fr);
    }
    .board{
        grid-template-columns: repeat(6,1fr);
    }
    
}


/* ********************BONUS! Eliminate media queries with minmax() */
/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 */

