@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;800&family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
/* Computer */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #191919;
    color: #fff;
}

/*************** Log in Page styling *****************/
.logo{
    font-family: 'Exo', sans-serif;
    margin: auto;
    margin-top: 100px;
    width: 50%;
    text-align: center;
    padding: 10px;
    letter-spacing: 0.5rem;
}
.logo h1{
    color: #AB3428;
}
.logo p{
    color: #2d728f;
}
.container{
    margin: auto;
    width: 95%;
    padding: 20px;
}
#instruction{
    text-align: center;
    margin-bottom: 30px;
    font-size: 12px;
    color: #555555;
}
label{
    font-size: 12px;
    color: #fff;
    opacity: 0.5;
}
input[type=text], input[type=password] {
    width: 95%;
    border: 1px solid #555555;
    color: #000000;
    background-color: #00000009;
    border-radius: 5px;
    padding: 14px;
    margin: 14px 0px;
    margin-top: 6px;
}
.form-submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit{
    text-decoration: none;
    border: 1px solid #3b8ea5;
    background: #3b8ea5;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 0.15em;
    padding: 12px 30px;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 800;
    cursor: pointer
}
#instruction-bottom{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}
/*************** END Log in Page styling *****************/
.main-container{
    overflow: hidden; /* Hide scrollbars */
}

/* Styling image carousel */
.left-logo{
    font-family: 'Exo bold', sans-serif ;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    letter-spacing: 0.5rem;
    display: flex;
    justify-content: space-between;
        /* background-color: red; */
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.122);
}
.left-logo h1{
    color: #AB3428;
    font-size: 12px;
    font-weight: 800;
}
.left-logo p{
    color: #2d728f;
    font-size: 10px;

}
.row{
    margin-top: 20px;
    height: 115px;
}
.row p{
    margin-left: 15px;
    font-size: 10px;
    letter-spacing: 0.09em;
    opacity: 0.4;
    font-family: 'Exo bold', sans-serif ;
    
}
.row-image{
    width: 75px;
    height: 75px;
    border-radius:50%;
    object-fit: cover;
    margin-right: 10px;
    transition: transform 450ms;
    padding: 2px;
    /* rounded-corners-gradient borders */
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #3b8ea5,#f5ee9e);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.row-images{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-left: 15px;
    padding-top: 10px;
}

.row-image:hover{
    transform: scale(1.18);
}
.row-images::-webkit-scrollbar{
    display: none;
}

/* Styling feed images */
.avatar-box{
    margin-top: 10px;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: sub;
}
.username{
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    color: #a0a0a0;

}
.card {
    border-top: 1px solid #555555;
    color: white;
    width: 100%;
    height: 550px;
    margin-bottom: 50px;
    transition: transform 450ms;
}
.feed{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}
.card-img{
    width: 100%;
    object-fit: cover;
    max-height: 500px;
}
.avatar-icons i{
    font-size: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}
/************************Styling viewprofile ***************/
.box {
    border-top: 1px solid #555555;
    color: white;
    width: 100%;
    height: 100px;
    transition: transform 450ms;
}
.board{
    /* max-width: 1200px; */
    margin: 0 auto;
    display: grid;
    gap: 0.3rem;
    grid-template-columns: repeat(3,1fr);
}
.box-img{
    width: 100%;
    object-fit: cover;
    max-height: 100px;
}

/* Buttons**************************** */
.button-container{
    width: 100%;
    margin-bottom: 30px;
}
.main-buttons{
    margin: 0 auto;
    text-align: center;
}
input[type=submit]{
    text-decoration: none;
    border: 1px solid #3b8ea58b;
    background: #3b8ea58b;
    border-radius: 2px;
    color: #fff;
    letter-spacing: 0.15em;
    padding: 6px 25px;
    font-size: 10px;
    cursor: pointer    
} 

/* Responsive design for larger screen sizes -> TABLET */

@media screen and (min-width: 600px) {
   
    .feed{
        grid-template-columns: repeat(2,1fr);
    }
    .board{
        grid-template-columns: repeat(4,1fr);
    }
    .w3-btn{
            text-decoration: none;
            border: 1px solid #3b8ea5;
            background: #3b8ea5;
            border-radius: 5px;
            color: #fff;
            margin-left: 13px;
            letter-spacing: 0.15em;
            padding: 6px 25px;
            font-size: 12px;
            margin-top: 10px;
            cursor: pointer    
  }
}

/* Responsive design for screens larger than 900 pixels -> LAPTOP */
@media screen and (min-width:900px){
    .feed{
        grid-template-columns: repeat(4, 1fr);
    }
    .board{
        grid-template-columns: repeat(6,1fr);
    }
    
}


/* ********************BONUS! Eliminate media queries with minmax() */
/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 */